// -Layout-
// Display
//   Flex
//   Grid
// Position
// Spacing
//   Margin
//   Border
//   Padding
// Dimension
//   width
//   height


// Display
@each $size in $breakpoints {
  .u-display-block#{$size} {
    display: block;
  }
  .u-display-inline-block#{$size} {
    display: inline-block;
  }
  .u-display-inline#{$size} {
    display: inline;
  }
  .u-display-none#{$size} {
    display: none;
  }
}

// Flex

// Grid

